nodered-flow1.json
[{"id":"19197cf1.5dea43","type":"tab","label":"Interface"},{"id":"acf3799f.8a0518","type":"cloudant in","z":"19197cf1.5dea43","name":"get image by _id","cloudant":"","database":"image_selection","service":"","search":"_id_","design":"","index":"","x":1322,"y":529,"wires":[["9dc804cf.1592f8","50887bad.436d64"]]},{"id":"7bab2cdc.143494","type":"http in","z":"19197cf1.5dea43","name":"","url":"/annotate_image","method":"post","swaggerDoc":"","x":116,"y":613,"wires":[["8a75f72a.692df8"]]},{"id":"9dc804cf.1592f8","type":"debug","z":"19197cf1.5dea43","name":"","active":true,"console":"false","complete":"false","x":1527,"y":528,"wires":[]},{"id":"47643ed4.0960b","type":"function","z":"19197cf1.5dea43","name":"test search _id","func":"var all_image_ids = global.get(\"all_image_ids\");\nif (Object.keys(msg.payload).length !== 0) {\n    msg.payload = JSON.parse(msg.payload);\n\n    var annotation_tracker = global.get(\"annotation_tracker\");\n    var last_user = msg.payload.annotation[msg.payload.annotation.length - 1].user;\n\n    var user_annotations = annotation_tracker[last_user];\n    var still_to_annotate = all_image_ids.filter(function(el) {\n        return user_annotations.indexOf( el ) < 0;\n    });\n\n    if (still_to_annotate.length > 0) {\n        msg.payload = still_to_annotate[Math.floor(Math.random()*still_to_annotate.length)];\n    } else {\n        msg.payload = {'_id': false};\n    }\n    node.warn(still_to_annotate.length);\n} else {\n    var num_images = global.get(\"num_images\");\n    msg.payload = all_image_ids[Math.floor(Math.random()*num_images)];\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":979,"y":453,"wires":[["abb52b2d.d15f08","acf3799f.8a0518"]]},{"id":"a654a9ef.c95d88","type":"cloudant in","z":"19197cf1.5dea43","name":"get all images","cloudant":"f7f40e4a.8943c","database":"image_selection","service":"","search":"_all_","design":"","index":"","x":411,"y":111,"wires":[[]]},{"id":"f1aff65e.60d288","type":"inject","z":"19197cf1.5dea43","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":150,"y":61,"wires":[["8dfc95d5.84e998"]]},{"id":"cd53b922.08c7b8","type":"function","z":"19197cf1.5dea43","name":"store IDs globally","func":"var ids = msg.payload.rows.map(function(obj) {\n    return obj.id;\n});\nglobal.set(\"all_image_ids\", ids);\nglobal.set(\"num_images\", ids.length);\n\nmsg.payload = global.get(\"num_images\");\nreturn msg;","outputs":1,"noerr":0,"x":751,"y":60,"wires":[["170d1b17.bfafd5"]]},{"id":"8a75f72a.692df8","type":"function","z":"19197cf1.5dea43","name":"clean input","func":"\nmsg.url = \"https://your-cloudant-url/image_selection/\" + msg.payload._id;\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":615,"wires":[["eccd6bfa.27e818","15bcd158.08f39f"]]},{"id":"8a8fbbf5.58abe8","type":"http in","z":"19197cf1.5dea43","name":"","url":"/test_get_image","method":"get","swaggerDoc":"","x":130,"y":401,"wires":[["15bcd158.08f39f"]]},{"id":"50887bad.436d64","type":"http response","z":"19197cf1.5dea43","name":"","x":1547,"y":398,"wires":[]},{"id":"eccd6bfa.27e818","type":"http request","z":"19197cf1.5dea43","name":"update doc in CLOUDANT","method":"PUT","ret":"txt","url":"","tls":"","x":568,"y":612,"wires":[["f28c108e.ae2f7"]]},{"id":"f28c108e.ae2f7","type":"debug","z":"19197cf1.5dea43","name":"","active":true,"console":"false","complete":"false","x":1202.5,"y":624,"wires":[]},{"id":"170d1b17.bfafd5","type":"debug","z":"19197cf1.5dea43","name":"","active":true,"console":"false","complete":"false","x":1200.5,"y":63,"wires":[]},{"id":"ea489ce5.0959d","type":"function","z":"19197cf1.5dea43","name":"convert image to base64","func":"msg.payload = encodeURI(Buffer.from(msg.payload).toString('base64'));\nreturn msg;\n","outputs":1,"noerr":0,"x":934,"y":183,"wires":[["e5f0ff3d.9162a","e33f30c9.6b76"]]},{"id":"c0e32856.a941c8","type":"http request","z":"19197cf1.5dea43","name":"get img from DAIS server","method":"GET","ret":"bin","url":"","tls":"","x":677,"y":181,"wires":[["ea489ce5.0959d"]]},{"id":"98ef7d00.9979a","type":"http in","z":"19197cf1.5dea43","name":"","url":"/test_get_image_data","method":"post","swaggerDoc":"","x":159,"y":186,"wires":[["dcd60df1.352bc"]]},{"id":"dcd60df1.352bc","type":"function","z":"19197cf1.5dea43","name":"get URL from request","func":"msg.url = msg.payload.url;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":189,"wires":[["c0e32856.a941c8"]]},{"id":"e5f0ff3d.9162a","type":"http response","z":"19197cf1.5dea43","name":"","x":1221,"y":182,"wires":[]},{"id":"9d10416d.b2eda","type":"http in","z":"19197cf1.5dea43","name":"","url":"/remove_last_annotation","method":"post","swaggerDoc":"","x":183.5,"y":748,"wires":[["c2371e44.367ae"]]},{"id":"dfdb83e.1bd8a8","type":"http request","z":"19197cf1.5dea43","name":"update doc in CLOUDANT","method":"PUT","ret":"txt","url":"","tls":"","x":665,"y":753,"wires":[["cccb022f.925de","e60b13c8.11af9"]]},{"id":"cccb022f.925de","type":"debug","z":"19197cf1.5dea43","name":"","active":true,"console":"false","complete":"false","x":1204.5,"y":688,"wires":[]},{"id":"e60b13c8.11af9","type":"http response","z":"19197cf1.5dea43","name":"","x":1196.5,"y":752,"wires":[]},{"id":"8dfc95d5.84e998","type":"http request","z":"19197cf1.5dea43","name":"get all image IDs still needing annotation","method":"GET","ret":"obj","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/needs-annotating?group=false&reduce=false","tls":"","x":431.5,"y":64,"wires":[["cd53b922.08c7b8"]]},{"id":"15bcd158.08f39f","type":"function","z":"19197cf1.5dea43","name":"check if still images to be annotated","func":"var num_images = global.get(\"num_images\");\nif (num_images === 0) {\n    msg.payload = {\"_id\": false};\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":597.5,"y":407,"wires":[["d5418033.6120c"]]},{"id":"d5418033.6120c","type":"switch","z":"19197cf1.5dea43","name":"","property":"payload._id","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","outputs":2,"x":828.5,"y":408,"wires":[["50887bad.436d64"],["47643ed4.0960b"]]},{"id":"4a30c5aa.c337fc","type":"inject","z":"19197cf1.5dea43","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":148,"y":307,"wires":[["15bcd158.08f39f"]]},{"id":"55bfb5bf.32e10c","type":"inject","z":"19197cf1.5dea43","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":145,"y":529,"wires":[["8a75f72a.692df8"]]},{"id":"c2371e44.367ae","type":"function","z":"19197cf1.5dea43","name":"clean input","func":"\nmsg.url = \"https://your-cloudant-url/image_selection/\" + msg.payload._id;\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":751,"wires":[["dfdb83e.1bd8a8"]]},{"id":"e33f30c9.6b76","type":"debug","z":"19197cf1.5dea43","name":"","active":true,"console":"false","complete":"false","x":1085.5,"y":271,"wires":[]},{"id":"c173256d.c24478","type":"http request","z":"19197cf1.5dea43","name":"get user annotated docs","method":"GET","ret":"obj","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/user-annotated-doc-ids?group=true","tls":"","x":554,"y":920,"wires":[["bcd1f0ec.b11c2"]]},{"id":"bcd1f0ec.b11c2","type":"function","z":"19197cf1.5dea43","name":"","func":"var annotation_tracker= {};\nmsg.payload.rows.map(function(el) {\n    annotation_tracker[el.key] = el.value.filter(function(item, i, ar){ return ar.indexOf(item) === i; });\n});\n\nglobal.set(\"annotation_tracker\", annotation_tracker);\nmsg.payload = global.get(\"annotation_tracker\");\nreturn msg;","outputs":1,"noerr":0,"x":852,"y":919,"wires":[[]]},{"id":"8b0d7134.7696d","type":"inject","z":"19197cf1.5dea43","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"x":188,"y":925,"wires":[["c173256d.c24478"]]},{"id":"abb52b2d.d15f08","type":"switch","z":"19197cf1.5dea43","name":"","property":"payload._id","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","outputs":2,"x":1185,"y":455,"wires":[["50887bad.436d64"],["acf3799f.8a0518"]]},{"id":"f7f40e4a.8943c","type":"cloudant","z":"","host":"your-cloudant-url","name":"annotation-cloudant"}]