nodered-flow3.json
[{"id":"bfb195aa.426c58","type":"tab","label":"API endpoints"},{"id":"addeaa44.85a918","type":"http in","z":"bfb195aa.426c58","name":"","url":"/all-annotations","method":"get","swaggerDoc":"","x":122,"y":530,"wires":[["82fc895a.1d4908"]]},{"id":"61b8973.63ff168","type":"http response","z":"bfb195aa.426c58","name":"","x":659,"y":535,"wires":[]},{"id":"82fc895a.1d4908","type":"http request","z":"bfb195aa.426c58","name":"view full json annotated","method":"GET","ret":"txt","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/full-json","tls":"","x":448,"y":537,"wires":[["61b8973.63ff168"]]},{"id":"bf80ab1d.751f98","type":"http in","z":"bfb195aa.426c58","name":"","url":"/image-annotation-count","method":"get","swaggerDoc":"","x":127.5,"y":256,"wires":[["a1d33c88.81d6b"]]},{"id":"95f580e2.f0a1f","type":"http response","z":"bfb195aa.426c58","name":"","x":645.5,"y":256,"wires":[]},{"id":"a1d33c88.81d6b","type":"http request","z":"bfb195aa.426c58","name":"view per image annotation counts","method":"GET","ret":"txt","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/annotation-counts","tls":"","x":421.5,"y":253,"wires":[["95f580e2.f0a1f"]]},{"id":"29ac5283.6b74ce","type":"http in","z":"bfb195aa.426c58","name":"","url":"/congestion","method":"get","swaggerDoc":"","x":102.5,"y":365,"wires":[["9c6b2e55.128f9"]]},{"id":"3ec64a76.6041e6","type":"http in","z":"bfb195aa.426c58","name":"","url":"/no-congestion","method":"get","swaggerDoc":"","x":114,"y":408,"wires":[["20b45805.2dd8a8"]]},{"id":"3d1cf252.49603e","type":"http in","z":"bfb195aa.426c58","name":"","url":"/broken","method":"get","swaggerDoc":"","x":88,"y":452,"wires":[["b1c5b622.8ed588"]]},{"id":"f5fb24d5.f50d98","type":"http in","z":"bfb195aa.426c58","name":"","url":"/not-sure","method":"get","swaggerDoc":"","x":101,"y":492,"wires":[["e885f394.35edd"]]},{"id":"9c6b2e55.128f9","type":"http request","z":"bfb195aa.426c58","name":"get congested image list","method":"GET","ret":"txt","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/congestion","tls":"","x":377.5,"y":365,"wires":[["f3ba8973.3fd798"]]},{"id":"20b45805.2dd8a8","type":"http request","z":"bfb195aa.426c58","name":"get not-congested image list","method":"GET","ret":"txt","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/no-congestion","tls":"","x":390,"y":409,"wires":[["64223b8d.ef9b04"]]},{"id":"b1c5b622.8ed588","type":"http request","z":"bfb195aa.426c58","name":"get broken image list","method":"GET","ret":"txt","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/broken","tls":"","x":414,"y":452,"wires":[["669d94e.61aad6c"]]},{"id":"e885f394.35edd","type":"http request","z":"bfb195aa.426c58","name":"get not-sure image list","method":"GET","ret":"txt","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/not-sure","tls":"","x":444,"y":497,"wires":[["24cf6d0b.3f0842"]]},{"id":"f3ba8973.3fd798","type":"http response","z":"bfb195aa.426c58","name":"","x":743.5,"y":364,"wires":[]},{"id":"64223b8d.ef9b04","type":"http response","z":"bfb195aa.426c58","name":"","x":743,"y":410,"wires":[]},{"id":"669d94e.61aad6c","type":"http response","z":"bfb195aa.426c58","name":"","x":760,"y":453,"wires":[]},{"id":"24cf6d0b.3f0842","type":"http response","z":"bfb195aa.426c58","name":"","x":699,"y":494,"wires":[]},{"id":"cfc1ddac.e6cc","type":"http in","z":"bfb195aa.426c58","name":"","url":"/get-image-info-by-id","method":"get","swaggerDoc":"","x":115,"y":84,"wires":[["e0ef47ce.af25d8","84179a94.de19f8"]]},{"id":"d79cf62d.f03078","type":"http request","z":"bfb195aa.426c58","name":"","method":"GET","ret":"txt","url":"","tls":"","x":537,"y":77,"wires":[["631dfb7c.023f44"]]},{"id":"84179a94.de19f8","type":"function","z":"bfb195aa.426c58","name":"","func":"msg.url = \"https://your-cloudant-url/image_selection/\" + msg.payload.id;\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":77,"wires":[["d79cf62d.f03078"]]},{"id":"e0ef47ce.af25d8","type":"debug","z":"bfb195aa.426c58","name":"","active":true,"console":"false","complete":"false","x":358,"y":30,"wires":[]},{"id":"631dfb7c.023f44","type":"http response","z":"bfb195aa.426c58","name":"","x":709.5,"y":77,"wires":[]},{"id":"b4b943a0.e68bf","type":"http in","z":"bfb195aa.426c58","name":"","url":"/doc_rev","method":"get","swaggerDoc":"","x":75,"y":125,"wires":[["14cdbffc.6d6"]]},{"id":"fe215109.e94e6","type":"cloudant in","z":"bfb195aa.426c58","name":"get by id","cloudant":"f7f40e4a.8943c","database":"image_selection","service":"your-cloudant-service-name","search":"_id_","design":"","index":"","x":373,"y":132,"wires":[["a45a4d8c.812aa"]]},{"id":"a45a4d8c.812aa","type":"function","z":"bfb195aa.426c58","name":"","func":"msg.payload = msg.payload._rev;\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":134,"wires":[["50d91ce1.71c784"]]},{"id":"50d91ce1.71c784","type":"http response","z":"bfb195aa.426c58","name":"","x":684,"y":125,"wires":[]},{"id":"14cdbffc.6d6","type":"function","z":"bfb195aa.426c58","name":"","func":"msg.payload = msg.payload.id;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":129,"wires":[["fe215109.e94e6"]]},{"id":"10d72277.3d4dee","type":"http in","z":"bfb195aa.426c58","name":"","url":"/conflicting-annotations","method":"get","swaggerDoc":"","x":153.5,"y":1106,"wires":[["ef87a47e.168e18"]]},{"id":"ef87a47e.168e18","type":"http request","z":"bfb195aa.426c58","name":"get conflicting annotations","method":"GET","ret":"txt","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/conflicting-annotations","tls":"","x":426.5,"y":1106,"wires":[["1fd16b7c.c3be15"]]},{"id":"1fd16b7c.c3be15","type":"http response","z":"bfb195aa.426c58","name":"","x":680.5,"y":1104,"wires":[]},{"id":"8732e6cf.ba82a8","type":"http in","z":"bfb195aa.426c58","name":"","url":"/user-annotation-count","method":"get","swaggerDoc":"","x":125,"y":208,"wires":[["86a72585.1d1488"]]},{"id":"86a72585.1d1488","type":"http request","z":"bfb195aa.426c58","name":"get user annotation counts","method":"GET","ret":"txt","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/user-counts?group=true","tls":"","x":415,"y":204,"wires":[["9036031d.8e2d5"]]},{"id":"9036031d.8e2d5","type":"http response","z":"bfb195aa.426c58","name":"","x":643,"y":206,"wires":[]},{"id":"30a9ec.147ab614","type":"http in","z":"bfb195aa.426c58","name":"","url":"/congestion-csv","method":"get","swaggerDoc":"","x":123,"y":681,"wires":[["c519fec2.120a4"]]},{"id":"c519fec2.120a4","type":"http request","z":"bfb195aa.426c58","name":"get congested image list","method":"GET","ret":"obj","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/congestion","tls":"","x":379,"y":682,"wires":[["f4e25a67.ab98f8"]]},{"id":"8e1d4f70.e07d4","type":"http response","z":"bfb195aa.426c58","name":"","x":914,"y":778,"wires":[]},{"id":"f4e25a67.ab98f8","type":"function","z":"bfb195aa.426c58","name":"parseToCSV","func":"var headers = \"doc_id,url,labels,users\\n\";\n\nvar body = [];\n\nmsg.payload.rows.map(function(el) {\n    var labels = \"\";\n    var users = \"\";\n    el.value.annotation.map(function(annotation) {\n        labels += annotation.label;\n        labels += \"|\";\n        users += annotation.user;\n        users += \"|\";\n    });\n    labels = labels.slice(0,-1);\n    users = users.slice(0,-1);\n    body.push(el.value._id + \",\" + el.value.url +\",\" + labels + \",\" + users);\n});\n\nmsg.payload = headers + body.join(\"\\n\") + \"\\n\";\nreturn msg;\n","outputs":1,"noerr":0,"x":728.5,"y":778,"wires":[["8e1d4f70.e07d4"]]},{"id":"1a458ee7.8c15a1","type":"http in","z":"bfb195aa.426c58","name":"","url":"/no-congestion-csv","method":"get","swaggerDoc":"","x":138,"y":729,"wires":[["21924ecd.1fd2d2"]]},{"id":"21924ecd.1fd2d2","type":"http request","z":"bfb195aa.426c58","name":"get not-congested image list","method":"GET","ret":"obj","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/no-congestion","tls":"","x":390,"y":731,"wires":[["f4e25a67.ab98f8"]]},{"id":"4a242e1.c2707d","type":"http in","z":"bfb195aa.426c58","name":"","url":"/broken-csv","method":"get","swaggerDoc":"","x":115,"y":780,"wires":[["c97816ac.b294d8"]]},{"id":"c97816ac.b294d8","type":"http request","z":"bfb195aa.426c58","name":"get broken image list","method":"GET","ret":"obj","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/broken","tls":"","x":361,"y":779,"wires":[["f4e25a67.ab98f8"]]},{"id":"d63719a2.18bc98","type":"http in","z":"bfb195aa.426c58","name":"","url":"/not-sure-csv","method":"get","swaggerDoc":"","x":117,"y":831,"wires":[["a3ed05dd.bf49f8"]]},{"id":"a3ed05dd.bf49f8","type":"http request","z":"bfb195aa.426c58","name":"get not-sure image list","method":"GET","ret":"obj","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/not-sure","tls":"","x":374,"y":827,"wires":[["f4e25a67.ab98f8"]]},{"id":"62a409b5.9f0b08","type":"http in","z":"bfb195aa.426c58","name":"","url":"/all-annotations-csv","method":"get","swaggerDoc":"","x":133,"y":880,"wires":[["779532b1.ba33cc"]]},{"id":"779532b1.ba33cc","type":"http request","z":"bfb195aa.426c58","name":"view full json annotated","method":"GET","ret":"obj","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/full-json","tls":"","x":401,"y":883,"wires":[["f4e25a67.ab98f8"]]},{"id":"ac4f6d17.173a5","type":"http in","z":"bfb195aa.426c58","name":"","url":"/conflicting-annotations","method":"get","swaggerDoc":"","x":158,"y":1148,"wires":[["cc0ad3cb.59aa6"]]},{"id":"cc0ad3cb.59aa6","type":"http request","z":"bfb195aa.426c58","name":"get conflicting annotations","method":"GET","ret":"txt","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/conflicting-annotations","tls":"","x":438,"y":1149,"wires":[["adcb256b.9f6f08"]]},{"id":"b060ded5.067d8","type":"http response","z":"bfb195aa.426c58","name":"","x":802,"y":1151,"wires":[]},{"id":"adcb256b.9f6f08","type":"function","z":"bfb195aa.426c58","name":"parseToCSV","func":"\nreturn msg;","outputs":1,"noerr":0,"x":656,"y":1150,"wires":[["b060ded5.067d8"]]},{"id":"16a4129f.ad678d","type":"http in","z":"bfb195aa.426c58","name":"","url":"/all-fully-annotated","method":"get","swaggerDoc":"","x":123.5,"y":325,"wires":[["8ab37972.fa0e58"]]},{"id":"8ab37972.fa0e58","type":"http request","z":"bfb195aa.426c58","name":"get all fully annotated","method":"GET","ret":"txt","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/fully-annotated","tls":"","x":386.5,"y":317,"wires":[["1abadc51.b64c44"]]},{"id":"1abadc51.b64c44","type":"http response","z":"bfb195aa.426c58","name":"","x":721.5,"y":324,"wires":[]},{"id":"27742de2.1aa332","type":"http in","z":"bfb195aa.426c58","name":"","url":"/all-fully-annotated-csv","method":"get","swaggerDoc":"","x":141.5,"y":623,"wires":[["bc6b94db.5bafc8"]]},{"id":"bc6b94db.5bafc8","type":"http request","z":"bfb195aa.426c58","name":"get all fully annotated","method":"GET","ret":"obj","url":"https://your-cloudant-url/image_selection/_design/getAnnotatedImageJSON/_view/fully-annotated","tls":"","x":396,"y":624,"wires":[["f4e25a67.ab98f8"]]},{"id":"f7f40e4a.8943c","type":"cloudant","z":"","host":"your-cloudant-url","name":"annotation-cloudant"}]